doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet")
  body 
    header
      h1 F1 Driver Ratings
      #navBar
        ul
          li 
            a(href='/') Home
          li
            a(href='/') Admin
          li
            a(href='/') Overview

    block content
