extends layout

block content
  div#content
    div#race
        img(src='images/bh-flag.webp')
        div#raceInfo
            h2 Bahrain Grand Prix
            p Sakhir
            p Sakhir International Circuit
            p 19:00
    #ratings 
      h1 Driver Ratings
      form(action='submit', method='POST')
        ul#drivers



  script(src='javascripts/ratings.js')